/* 
    Document   : general
    Created on : 11-06-2014, 10:55:33 AM
    Author     : 17558919-8
    Description:
        Purpose of the stylesheet follows.
*/


#cursos_footer>li>a {
    color: #fff;
}

#experiencia_footer>li>a {
    color: #fff;
}